.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix:before {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  display: block;
}

.container {
  min-height: calc(100vh - 100px - 50px);
}

.la {
  font-size: 24px;
}

.post-nav {
  margin: 1em 0;
  padding: 0.5em 0 1em 0;
  border-top: 1px solid #f4f4f4;
}

.post-nav a.prev {
  float: left;
}
.post-nav a.next {
  float: right;
}
.post-nav:before, .post-nav:after {
  content: " ";
  display: table;
}
.post-nav:before, .post-nav:after {
  content: " ";
  display: table;
}
.post-nav a.prev, .post-nav a.next {
  /* font-weight: 600; */
  font-size: 16px;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: .3s;
}

body {
    font-family: josefin sans,-apple-system,BlinkMacSystemFont,helvetica neue,pingfang sc,hiragino sans gb,STHeiti,microsoft yahei,wenquanyi micro hei,Arial,Verdana,sans-serif
}

h1,h2,h3,h4,h5,h6 {
    /* font-family: raleway,sans-serif; */
    line-height: 1.2;
    color: #333;
    font-weight: 200;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .9rem;
}

h6 {
    font-size: .75rem
}
